.playground {
  cursor: none;
  height: 10800px;
  width: 19200px;
  overflow: hidden;
  position: relative;
  background-color: #021027;
  .allCursors {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    .otherCursor {
      height: 100px;
      width: 100px;
      position: absolute;
      background: url("../../assets/cursor01.png") no-repeat;
      background-size: contain;
      pointer-events: all;
    }
    .table {
      pointer-events: all;
      width: 350px;

      & > .number {
        width: fit-content;
        border-radius: 10px;
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
        padding: 10px;
        background-color: snow;
        text-align: center;
        transform: translate(300px, 50px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        .person {
          background-color: #00000018;
          padding: 4px;
          font-size: 25px;
        }
      }
      & > .buttonleave {
        background-color: rgb(255, 109, 109);
        border-radius: 10px;
        // cursor: none;
        padding: 10px;
        // color: #fff;
      }
      &:nth-child(1) {
        position: absolute;
        top: 600px;
        left: 1300px;
      }

      &:nth-child(2) {
        position: absolute;
        top: 2580px;
        left: 6560px;
      }

      &:nth-child(3) {
        position: absolute;
        top: 7800px;
        left: 4200px;
      }

      &:nth-child(4) {
        position: absolute;
        top: 6500px;
        left: 15500px;
      }

      &:nth-child(5) {
        position: absolute;
        top: 2000px;
        left: 13000px;
      }

      &:nth-child(6) {
        position: absolute;
        top: 9100px;
        left: 10000px;
      }
    }
  }
  .csr {
    height: 100px;
    width: 100px;
    object-fit: contain;
    pointer-events: none;
    position: fixed;
    z-index: 99;
    img {
      z-index: 99;
    }
  }
  .outer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    pointer-events: none;
    z-index: 2;
    #profile,
    .mapCover {
      pointer-events: all;
    }
    .front {
      height: 100%;
      width: 100%;
      position: absolute;
      & > .navBtn {
        background-color: snow;
        position: absolute;
        margin: 1vw;
        padding: 5px;
        height: 100px;
        width: 100px;
        margin-top: 0;
        border-radius: 50%;
        pointer-events: all;
        cursor: none;
        & > .inn {
          height: 90px;
          width: 90px;
          border: 2px solid #000;
          border-radius: 50%;
          padding: 1vw;
        }
      }
      & > .pushTalk {
        top: calc(100px + 2vw);
        .mic {
          font-size: 90px;
        }
      }
      & > .globalChat {
        top: calc(200px + 3vw);
        &>.globalChatIn{
          font-size: 90px;
        }
      }
    }
  }
}
