#profile{
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    margin: 1vw;
    position: relative;
    &>.profileImg{
        background-color: snow;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        padding: 5px;

        &>img{
            height: 90px;
            widows: 90px;
            padding: 10px;
            border: 2px solid #000;
            border-radius: 50%;
        }
    }
    
    &>.profileDetail{
        z-index: 5;
        position: absolute;
        top: 0;
        height: 90vh;
        width: 30vw;
        padding: 0.5vw;
        background-color: snow;
        border-radius: 2vw;
        transform: translateX(-35vw);
        transition: all 0.3s ease-in-out;
        &>.inner{
            background-color: #0097fc1a;
            border: 2px solid #000;
            height: 100%;
            width: 100%;
            border-radius: 1.5vw;
            padding: 1vw;
            &>.name{
                font-size: 2vw;
                font-weight: 700;
                margin: 3vw 0;
            }
            &>.bio{
                margin-bottom: 3vw;
            }
            &>.links{
                display: flex;
                gap: 10px;
                margin-bottom: 3vw;
                span{
                    background-color: #2ea7bd;
                    color: #fff;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
        }
    }
}