#profile{
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    margin: 1vw;
    position: relative;
    &>.profileImg{
        background-color: snow;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        padding: 5px;

        &>img{
            height: 90px;
            widows: 90px;
            padding: 10px;
            border: 2px solid #000;
            border-radius: 50%;
        }
    }
    
    &>.inner{
        z-index: 5;
        position: absolute;
        top: 0;
        height: 90vh;
        width: 30vw;
        padding: 2vw;
        background-color: snow;
        border-radius: 2vw;
        transform: translateX(-35vw);
        transition: all 0.3s ease-in-out;
    }
}