.allCursors {
  position: absolute;
  height: 100%;
  width: 100%;
  .otherCursor {
    height: 100px;
    width: 100px;
    position: absolute;
    background: url("../../assets/cursor01.png") no-repeat;
    background-size: contain;
    pointer-events: none;
  }
}
